# Alamofire
github "Alamofire/Alamofire" ~> 4.4

# PromiseKit/Alamofire integration
github "PromiseKit/Alamofire-" ~> 1.0

# ObjectMapper
github "Hearst-DD/ObjectMapper" ~> 2.2

# Locksmith
github "matthewpalmer/Locksmith"
